attrs==21.2.0
configparser==5.0.2
flask-sqlacodegen==1.1.8
gazpacho==1.1
greenlet==1.1.2
inflect==5.3.0
iniconfig==1.1.1
mariadb==1.0.7
mirakuru==2.4.1
mysql==0.0.3
mysqlclient==2.0.3
packaging==21.0
pluggy==1.0.0
port-for==0.6.1
psutil==5.8.0
py==1.10.0
PyMySQL==1.0.2
pyparsing==2.4.7
pytest==6.2.5
pytest-mysql==2.1.0
quote==2.0.4
SQLAlchemy==1.4.25
toml==0.10.2
